@model DentistCalendar.Web.Models.LicenseOwner.DentistOfficeManagmentModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">Dodaj nowy gabinet</h4>
</div>
<div id="validation">
    <div id="validationSummary" class="col-xl-12 alert alert-danger alert-dismissible fade show" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul id="validation-summary-errors"></ul>
    </div>
</div>

<div class="modal-body">
    <form asp-action="AddDentistOfficeModal" class="form" method="post">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="padding-top:20px;">
                <div class="row modal-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Nazwa</label>
                            <input asp-for="@Model.NewDentistOffice.Name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <input asp-for="@Model.NewDentistOffice.Email" type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row modal-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Miasto</label>
                            <input asp-for="@Model.NewDentistOffice.City" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Ulica</label>
                            <input asp-for="@Model.NewDentistOffice.Street" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row modal-row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Nr domu</label>
                            <input asp-for="@Model.NewDentistOffice.HouseNumber" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Nr lokalu</label>
                            <input asp-for="@Model.NewDentistOffice.ApartamentNumber" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Kod pocztowy</label>
                            <input asp-for="@Model.NewDentistOffice.ZipCode" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Telefon</label>
                            <input asp-for="@Model.NewDentistOffice.Phone" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row modal-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">O placówce dentystycznej:</label>
                            <textarea asp-for="@Model.NewDentistOffice.AboutUs" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-rose pull-right" onclick="SubmitForm(this.parentElement, event)">Dodaj</button>
        <div class="clearfix"></div>
    </form>
</div>